*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
header{
    color: #fff;
    background: #71747462;
    height: 13vh;
}
header a , header p{
    text-decoration: none;
    color: #fff;
    margin: 1vw;
    font-size: x-large;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
nav div {
    display: flex;
}
nav .bi{
    width: 4vw;
}
.video{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}
.logoCh{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: #fff;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #71747462;
    height: 87vh;
    width: 100%;
    z-index: -1;;
}
.logo img{
    width: 15vw;
}
.logo p{
    width: 75%;
    text-align: center;
}
.contenido{
    margin-top: 87vh;
    background: #ffccccea;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardGr{
    display: flex;
    justify-content: space-evenly;
    padding: 3vw;
}
.card{
    width: 45vh;
    height: 45vh;
    border: 1vw solid #fff;
    border-bottom: 3vw solid #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vh;
    height: 45vh;
    text-align: center;
    color: #333030;
}
.carouselFondo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
}
.carouselTodo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.carouselTodo h2{
    padding: 1vw;
    color:black;
    text-transform: uppercase;
}
.carouselGr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.carouselDiv{
    height: 35vh;
    width: 35vw;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    margin: 1vw auto;
    border:1px solid #080707;
    border-radius: 2%;
    box-shadow: 1px 1px 4px 4px #cac9c9b7;
}
.carouselDiv h3{
    font-size: 2.5vw;
    flex-grow: 1;
    text-align: center;
    background: #d3d0c96e;
    color: #000;
    text-transform: uppercase;
}
.carouselDiv h3:hover{
    font-size: 4vw;
}
footer{
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
}
footer img{
    width: 4vw;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: #080707; 
    margin: .5vw;
}
footer .bi{
    width: 2vw;
    margin: 0.2vw;
}
.footerText{
    width: 40%;
    text-align: center;
    font-size: 1vw;
}
.cities{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffccccea;
    color: #333030;
}
.mainCities{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.callAction{
    padding: 3vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffccccea;
    text-align: center;
    color: #333030;
}
.callAction div{
    width: 75%;
}
.callAction button{
    font-size: 2.5vw;
    border-radius: 50%;
    border:1px solid #3635359a;
    margin: 1vw;
    padding: 1vw;
    
}
.error{
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.error button{
    margin:3vw;
    border: 1px solid red;
    background: black;
    color: blanchedalmond;
    font-size: 2.5vw;
    padding: 1vw;
}