*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
/* HEADER */
header{
    color: #fff;
    background: #8b8b8b62;
    height: 13vh;
}
header a , header p{
    text-decoration: none;
    color: #fff;
    margin: 1vw;
    font-size: x-large;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
nav div {
    display: flex;
}
nav .bi{
    width: 4vw;
}
nav .active{
    color:  #302f2f;
    text-shadow:-1px 0 #a7a5a5, 0 1px #a7a5a5, 1px 0 #a7a5a5, 0 -1px #a7a5a5
}
.video{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}
.logoCh{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: #fff;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #8b8b8b62;
    height: 87vh;
    width: 100%;
}
.logo img{
    width: 15vw;
}
.logo p{
    width: 75%;
    text-align: center;
}
/* INFO */
.contenido{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardGr, .descrGr{
    display: flex;
    justify-content: space-evenly;
    padding: 2vw;
}
.card, .descr{
    width: 25vw;
    height: 25vw;
    border: 1vw solid #fff;
    border-bottom: 3vw solid #fff;
    box-shadow: 1px 1px 5px 5px #cac9c9b7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 25vw;
    text-align: center;
    color:#000;
    font-size: 1.5vw;
}
#impar{
    order: 1;
}
.cardInfo h3{
    font-size: 3.5vw;
    font-family: 'Acme', sans-serif;
}
/* CAROUSER */
.carouselFondo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
}
.carouselTodo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 95vh;
}
.carouselTodo h2{
    padding: 0.5vw;
    font-size: 4vw;
    color:black;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
}
.carouselGr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.carouselDiv{
    height: 33vh;
    width: 33vw;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    margin: 1.5vw auto;
    border:1px solid #080707;
    border-radius: 2%;
    box-shadow: 1px 1px 4px 4px #cac9c9b7;
    transition: all 600ms;
}
.carouselDiv:hover{
    transform: scale(1.2);
}
.carouselDiv h3{
    font-size: 2.5vw;
    flex-grow: 1;
    text-align: center;
    background: #d3d0c96e;
    color: #000;
    text-transform: uppercase;
}
/* FOOTER */
footer{
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
}
footer img{
    width: 4vw;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: #000; 
    margin: .5vw;
    font-size: 1.5vw;
}
footer .bi{
    width: 2vw;
    margin: 0.2vw;
}
.footerText{
    width: 40%;
    text-align: center;
    font-size: 1vw;
}
/* CALL ACTION */
input{
    margin: 1vw;
}
.callActionTotal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f8afca85;
}
.callActionTotal img{
    width: 18vw;
}
.callAction{
    padding: 3vw;
    height: 55vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}
.callAction h3, .callAction button{
    font-size: 3.5vw;
    font-family: 'Acme', sans-serif;
}
.callAction p{
    font-size: 2vw;
}
.callAction button{
    margin-top: 1.5vw;
    font-size: 2.5vw;
    border-radius: 50%;
    border:1px solid #3635359a;
    padding: 1vw;
    transition: all 500ms;
    background-color: #fa9e9e;
}
.callAction button:hover{
    background: #fc3c3c;
    transform: scale(1.2);
}
/* CITIES */
.heroCities, .cityFoto{
    background-position:50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.herocitiesLogo{
    background-color: #8b8b8b62;
    height: 57vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.herocitiesLogo img{
    width: 8vw;
    margin: 2vw;
}
.cities{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: #ec555550; */
    color: #000;
}
.mainCities h2, .mainCities p{
    padding: 1.5vw 4vw 0vw;
    font-size: 2vw;
    text-align: center;
}
.mainCities h2{
    font-size: 3vw;
    font-family: 'Acme', sans-serif;
}
.mainCities input{
    width: 50vw;
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
    background:#f5f1f100;
}
.mainCities{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.citiesGr{
    width: 95%;
    padding: 2vw 0;
    display: grid;
    grid-template-columns: repeat(2,calc(100% /2));
    grid-template-rows: auto;
}
.citiesGr h1{
    font-family: 'Acme', sans-serif;
    grid-column: 1 / span 2;
    text-align: center;
}
.citiesGr a div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 40vh;
    margin:1vw;
    font-size: 30px;
    border: 1px solid black;
    box-shadow: 1px 1px 4px 4px #cac9c9b7;
    color:#000;
    text-decoration: none;
}
.citiesGr a div h3{
    flex-grow: 1;
    padding: .5vw;
    background: #d3d0c96e;

}
.citiesGr a{
    text-decoration: none;
}
.citiesGr a:nth-child(3n-2){
    grid-column: 1 / span 2;
}
.citiesGr a:nth-child(3n-1){
    grid-column: 1;
}
.citiesGr a:nth-child(3n){
    grid-column: 2;
}

/* ERROR */
.error{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error img{
    width: 20%;
}
.error button{
    margin:2vw;
    border: 1px solid yellow;
    background: black;
    color: blanchedalmond;
    font-size: 3vw;
    padding: .5vw;
    font-family: 'Acme', sans-serif;
}
/* CITIONLY */
.cityAll{
    display: flex;
    flex-direction: column;
    min-height: 100vw;
}
.descrGr p{
    align-self: center;
    font-size: 2vw;
    margin: 3vw;
    width: 40vw;
}
.cityOnly h2{
 text-align: center;
 padding: 0 1vw;
}
.cityOnly{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ec555550 ; 
}
.cityOnly h1{
    font-family: 'Acme', sans-serif;
    font-size: 4.5vw;
    padding: 1vw;
    text-transform: uppercase;
}
.cityOnly button{
    border:none;
    font-size: 3vw;
    padding: 0.5vw;
    margin: 1vw;
    background-color: #5855551e ;
}
/*Info error*/
.errorInfo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10vw;
    font-size:5vw;
    font-weight: bold;
}
.error{
    text-align: center;
    height: 45%;
    width: 70%;
    background: rgba(216, 213, 205, 0.671);
}
.errorInfo a{
    text-decoration: none;
    font-size: 3vw;
}
.errorInfo p{
    font-size: 1.5vw;
}

@media screen and (max-width: 700px){
    .callAction{
        height: 40vh;
    }
    .callAction button{
        font-size: 5vw;
    }
    nav .bi{
        width: 5vw;
    }
    .logo img{
        width: 25vw;
    }
    .cardInfo p{
        font-size: 2.5vw;
    }
    .carouselTodo, .carouselFondo{
        height: 100vh;
    }
    .carouselDiv{
        width: 80vw;
        height: 19vh;
    }
    .carouselTodo h2{
        font-size: 6vw;
    }
    .citiesGr{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .citiesGr a:nth-child(3n-2){
        grid-column: 1;
    }
    .citiesGr a:nth-child(3n-1){
        grid-column: 1;
    }
    .citiesGr a:nth-child(3n){
        grid-column: 1;
    }
    .mainCities input{
        padding: 0.5vw 1vw;
        font-size: 2.5vw;
    }
    footer{
        justify-content: center;
        font-weight: bold;
    }
    footer div{
        flex-direction: row;
        justify-content: center;
        padding: 1vw 3vw;
    }
    .footerText{
        flex-direction: column;
    }
    footer .bi{
        width: 4vw;
        margin: 1vw;
    }
    .heroCities{
        background-position:20% 25%;
    }
    .mainCities h2{
        font-size: 6vw;
    }
    .mainCities p{
        font-size: 4vw;
    }
    .descrGr p{
        margin: 1.5vw;
        width: 55vw;
        font-size: 3vw;
    }
}